*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /*
  by default, all html elements get default values like
  margin, padding, border etc. from the browser. So, to avoid that we can set all the elements to have 0 margin and 0 padding and box-sizing: border-box.


  border-box means that the total width of the element will include the padding and border.
  so we don't have to worry about the extra padding and border when we set the width of the element.
  */
}

body{
  background-color: lightyellow;
  min-height: 100vh;
  /* padding: 2px;
  border: 2px solid black; */
  /* Margin Collpasing:
     it happens when 2 vetical margins touch, instead of adding together.
     browser uses the Larger Margin".
     *** Rule: Rule: If there is padding or border on the parent, "margin collapsing stops".

     i.e, 'body' have padding or border.
          so, child margin(h1) doesn't collide with parent(body).
  */

}




.flex-container {
  min-height: 90vh;
  background-color: lightgreen;

  display: flex;
  justify-content: start;
  align-items: stretch;
  gap: 5px;

  flex-wrap: wrap;
  align-content: flex-start; /* Flex lines when wrapped into multiple lines */

}
.item {
  padding: 10px;
  background-color: #ebebeb;
  border: 1px solid black;

  width: 100px;
  /* flex-basis: 100px;   default=auto, it Sets Width or Height based on 'flex-direction' property(main axis).  ex: row(sets width), col(sets height) */
  flex-shrink: 1; /* shrinks to fit available space.  default=1, '1' means shrink, '0' means don't shrink */
  flex-grow: 1; /* grows to fill available space.     default=0 */
  /* flex: 1 1 100px; /* flex-grow | flex-shrink | flex-basis */
  min-width: 0; /* Flex item will shrink more than it's content. it prevents overflow */

  /* align-self: auto;  it overrides the 'align-items' property for specific item. */
  /* order: 0; it controls the order of the flex items. */
}

.item-1 {
  background-color: lightblue;
}


@media (max-width: 800px) {
  html {
    font-size: 62.5%;
  }
   section {
    background-color: blue;
   }
}
@media (max-width: 500px) {
  html {
    font-size: 50%;
  }
  section {
    background-color: red;
  }
}
